In [1]:
import pandas as pd
import calendar

In [2]:
# Open Bscore

# Load the CSV file into a DataFrame
df_bscore = pd.read_csv('/Users/queencyangela/Desktop/M AMF/Second Sem/MATH 298.1/bscore_final.csv')  # Replace with your actual file name

# Display the first few rows
print(df_bscore)

           ILS_ACCT_NUM  CURRENT_LOAN_BAL 01 2015  AMORT 01 2015  \
0       200001000325039                 256145.00    51107.45679
1       200001000402343                 163064.00    14702.45679
2       200001000432852                  50580.00    12523.45679
3       200001000644032                  50028.00    12385.45679
4       200001002025411                  74478.00    12291.45679
...                 ...                       ...            ...
169288  266978000823780                  59099.25     3218.67679
169289  266981000861579                3065748.51    51959.13679
169290  266988000902026                  20240.68    10452.65679
169291  266988000950509                2297134.88    43315.33679
169292  266998000881994                 668385.35    34572.67679

        PRINCIPAL_PYMT 01 2015  INTEREST_PYMT 01 2015  \
0                     51229.00                   0.00
1                     14824.00                   0.00
2                     12645.00                   0.00
3                     12507.00                   0.00
4                     12413.00                   0.00
...                        ...                    ...
169288                 2784.10                 341.62
169289                     NaN                    NaN
169290                10022.98                 167.07
169291                27152.15               12831.33
169292                28461.56                3846.98

        ACTUAL_AMORT_RATIO 01 2015  REMAINING_LOAN_RATIO 01 2015  \
0                         1.002378                      0.107129
1                         1.008267                      0.233282
2                         1.009705                      0.101363
3                         1.009813                      0.086285
4                         1.009888                      0.149255
...                            ...                           ...
169288                    0.971120                      0.057641
169289                         NaN                      0.667743
169290                    0.974877                      0.025333
169291                    0.923079                      0.544732
169292                    0.934511                      0.257170

        CURRENT_LOAN_BAL 02 2015  AMORT 02 2015  PRINCIPAL_PYMT 02 2015  ...  \
0                      204916.00    51107.45679                51229.00  ...
1                      148240.00    14702.45679                14824.00  ...
2                       37935.00    12523.45679                12645.00  ...
3                       37521.00    12385.45679                12507.00  ...
4                            NaN            NaN                     NaN  ...
...                          ...            ...                     ...  ...
169288                  56299.78     3218.67679                 2799.47  ...
169289                3065748.51    51959.13679                     NaN  ...
169290                  10162.36    10452.65679                10078.32  ...
169291                2297134.88    43315.33679                     NaN  ...
169292                 639766.66    34572.67679                28618.69  ...

        PRINCIPAL_PYMT 11 2024  INTEREST_PYMT 11 2024  \
0                          NaN                    NaN
1                          NaN                    NaN
2                          NaN                    NaN
3                          NaN                    NaN
4                          NaN                    NaN
...                        ...                    ...
169288                     NaN                    NaN
169289                     NaN                    NaN
169290                     NaN                    NaN
169291                     NaN                    NaN
169292                     NaN                    NaN

        ACTUAL_AMORT_RATIO 11 2024  REMAINING_LOAN_RATIO 11 2024  \
0                              NaN                           NaN
1                              NaN                           NaN
2                              NaN                           NaN
3                              NaN                           NaN
4                              NaN                           NaN
...                            ...                           ...
169288                         NaN                           NaN
169289                         NaN                           NaN
169290                         NaN                           NaN
169291                         NaN                           NaN
169292                         NaN                           NaN

        CURRENT_LOAN_BAL 12 2024  AMORT 12 2024  PRINCIPAL_PYMT 12 2024  \
0                            NaN            NaN                     NaN
1                            NaN            NaN                     NaN
2                            NaN            NaN                     NaN
3                            NaN            NaN                     NaN
4                            NaN            NaN                     NaN
...                          ...            ...                     ...
169288                       NaN            NaN                     NaN
169289                       NaN            NaN                     NaN
169290                       NaN            NaN                     NaN
169291                       NaN            NaN                     NaN
169292                       NaN            NaN                     NaN

        INTEREST_PYMT 12 2024  ACTUAL_AMORT_RATIO 12 2024  \
0                         NaN                         NaN
1                         NaN                         NaN
2                         NaN                         NaN
3                         NaN                         NaN
4                         NaN                         NaN
...                       ...                         ...
169288                    NaN                         NaN
169289                    NaN                         NaN
169290                    NaN                         NaN
169291                    NaN                         NaN
169292                    NaN                         NaN

        REMAINING_LOAN_RATIO 12 2024
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
169288                           NaN
169289                           NaN
169290                           NaN
169291                           NaN
169292                           NaN

[169293 rows x 721 columns]

In [31]:
# Load the CSV file into a DataFrame
df_offset = pd.read_csv('/Users/queencyangela/Desktop/M AMF/Second Sem/MATH 298.1/Metrohome ils offset M97-120.csv')  # Replace with your actual file name

# Display the first few rows
print(df_offset)

          ILS_ACCT_NUM ORIG_BOOK_DATE    MATURITY  PRODUCT_TYPE DATE_COLUMN  \
0      261050000354425     05/25/2010  10/25/2025         174.0  2023-01-31
1      261050000354425     05/25/2010  10/25/2025         174.0  2023-02-28
2      261050000354425     05/25/2010  10/25/2025         174.0  2023-03-31
3      261050000354425     05/25/2010  10/25/2025         174.0  2023-04-30
4      261050000354425     05/25/2010  10/25/2025         174.0  2023-05-31
...                ...            ...         ...           ...         ...
48067  266917000816175     12/21/2006  03/21/2027         177.0  2024-08-31
48068  266917000816175     12/21/2006  03/21/2027         177.0  2024-09-30
48069  266917000816175     12/21/2006  03/21/2027         177.0  2024-10-31
48070  266917000816175     12/21/2006  03/21/2027         177.0  2024-11-30
48071  266917000816175     12/21/2006  03/21/2027         177.0  2024-12-31

      MONTH DELQ_AGE_ACTUAL  WORST_DELINQUENCY  DEL1_COUNT
0       M97             0.0                3.0         3.0
1       M98             4.0                3.0         3.0
2       M99             0.0                3.0         3.0
3      M100             0.0                3.0         3.0
4      M101             7.0                3.0         3.0
...     ...             ...                ...         ...
48067  M116             0.0                5.0         5.0
48068  M117             0.0                5.0         5.0
48069  M118             0.0                5.0         5.0
48070  M119             0.0                5.0         5.0
48071  M120             0.0                5.0         5.0

[48072 rows x 9 columns]

In [32]:
# Identify columns in df_bscore that contain "ACTUAL_AMORT_RATIO"
amort_ratio_cols = [col for col in df_bscore.columns if "ACTUAL_AMORT_RATIO" in col]

# Create df_amort with ILS_ACCT_NUM and ACTUAL_AMORT_RATIO columns
df_amort = df_bscore[['ILS_ACCT_NUM'] + amort_ratio_cols]

# Print the new DataFrame
print(df_amort)

           ILS_ACCT_NUM  ACTUAL_AMORT_RATIO 01 2015  \
0       200001000325039                    1.002378
1       200001000402343                    1.008267
2       200001000432852                    1.009705
3       200001000644032                    1.009813
4       200001002025411                    1.009888
...                 ...                         ...
169288  266978000823780                    0.971120
169289  266981000861579                         NaN
169290  266988000902026                    0.974877
169291  266988000950509                    0.923079
169292  266998000881994                    0.934511

        ACTUAL_AMORT_RATIO 02 2015  ACTUAL_AMORT_RATIO 03 2015  \
0                         1.002378                    1.002378
1                         1.008267                    1.008267
2                         1.009705                    1.009705
3                         1.009813                    1.009813
4                              NaN                         NaN
...                            ...                         ...
169288                    0.971120                    0.971120
169289                         NaN                         NaN
169290                    0.974877                         NaN
169291                         NaN                    1.846158
169292                    0.934511                    0.934511

        ACTUAL_AMORT_RATIO 04 2015  ACTUAL_AMORT_RATIO 05 2015  \
0                         1.002378                    1.002378
1                         1.008267                    1.008267
2                         1.009705                         NaN
3                         1.009813                         NaN
4                              NaN                         NaN
...                            ...                         ...
169288                    0.971120                         NaN
169289                    3.007018                    1.002339
169290                         NaN                         NaN
169291                    0.923079                    0.923079
169292                    0.934511                    0.934511

        ACTUAL_AMORT_RATIO 06 2015  ACTUAL_AMORT_RATIO 07 2015  \
0                              NaN                         NaN
1                         1.008267                    1.008267
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
169288                    1.942239                    0.971120
169289                    1.002339                    1.002339
169290                         NaN                         NaN
169291                    0.923079                    0.923079
169292                    0.934511                    0.934511

        ACTUAL_AMORT_RATIO 08 2015  ACTUAL_AMORT_RATIO 09 2015  ...  \
0                              NaN                         NaN  ...
1                         1.008267                    1.008267  ...
2                              NaN                         NaN  ...
3                              NaN                         NaN  ...
4                              NaN                         NaN  ...
...                            ...                         ...  ...
169288                         NaN                         NaN  ...
169289                         NaN                         NaN  ...
169290                         NaN                         NaN  ...
169291                    0.923079                    0.923079  ...
169292                    0.934511                    0.934511  ...

        ACTUAL_AMORT_RATIO 03 2024  ACTUAL_AMORT_RATIO 04 2024  \
0                              NaN                         NaN
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
169288                         NaN                         NaN
169289                         NaN                         NaN
169290                         NaN                         NaN
169291                         NaN                         NaN
169292                         NaN                         NaN

        ACTUAL_AMORT_RATIO 05 2024  ACTUAL_AMORT_RATIO 06 2024  \
0                              NaN                         NaN
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
169288                         NaN                         NaN
169289                         NaN                         NaN
169290                         NaN                         NaN
169291                         NaN                         NaN
169292                         NaN                         NaN

        ACTUAL_AMORT_RATIO 07 2024  ACTUAL_AMORT_RATIO 08 2024  \
0                              NaN                         NaN
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
169288                         NaN                         NaN
169289                         NaN                         NaN
169290                         NaN                         NaN
169291                         NaN                         NaN
169292                         NaN                         NaN

        ACTUAL_AMORT_RATIO 09 2024  ACTUAL_AMORT_RATIO 10 2024  \
0                              NaN                         NaN
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
169288                         NaN                         NaN
169289                         NaN                         NaN
169290                         NaN                         NaN
169291                         NaN                         NaN
169292                         NaN                         NaN

        ACTUAL_AMORT_RATIO 11 2024  ACTUAL_AMORT_RATIO 12 2024
0                              NaN                         NaN
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
169288                         NaN                         NaN
169289                         NaN                         NaN
169290                         NaN                         NaN
169291                         NaN                         NaN
169292                         NaN                         NaN

[169293 rows x 121 columns]

In [33]:
df_amort_cols = df_amort.columns

# Function to convert "ACTUAL_AMORT_RATIO MONTH YEAR" to "MM/DD/YYYY"
def rename_actual_amort_ratio(col_name):
    if "ACTUAL_AMORT_RATIO" in col_name:
        parts = col_name.split()  # Split by space
        if len(parts) == 3:  # Ensure it's in the expected format
            month, year = parts[-2], parts[-1]  # Extract month and year
            try:
                month = int(month)  # Convert month to integer
                year = int(year)    # Convert year to integer
                last_day = calendar.monthrange(year, month)[1]  # Get last day of month
                return f"{month:02d}/{last_day}/{year}"  # Format as MM/DD/YYYY
            except ValueError:
                return col_name  # Keep unchanged if conversion fails
    return col_name  # Keep other columns unchanged

# Apply renaming function to all column names
df_amort.columns = [rename_actual_amort_ratio(col) for col in df_amort.columns]

df_amort = df_amort[df_amort['ILS_ACCT_NUM'].isin(df_offset['ILS_ACCT_NUM'])]

# Merge df_amort with df_offset to include ORIG_BOOK_DATE
df_amort = df_offset.merge(df_amort, how='left', on='ILS_ACCT_NUM')

# Print the updated DataFrame
print(df_amort)

          ILS_ACCT_NUM ORIG_BOOK_DATE    MATURITY  PRODUCT_TYPE DATE_COLUMN  \
0      261050000354425     05/25/2010  10/25/2025         174.0  2023-01-31
1      261050000354425     05/25/2010  10/25/2025         174.0  2023-02-28
2      261050000354425     05/25/2010  10/25/2025         174.0  2023-03-31
3      261050000354425     05/25/2010  10/25/2025         174.0  2023-04-30
4      261050000354425     05/25/2010  10/25/2025         174.0  2023-05-31
...                ...            ...         ...           ...         ...
48067  266917000816175     12/21/2006  03/21/2027         177.0  2024-08-31
48068  266917000816175     12/21/2006  03/21/2027         177.0  2024-09-30
48069  266917000816175     12/21/2006  03/21/2027         177.0  2024-10-31
48070  266917000816175     12/21/2006  03/21/2027         177.0  2024-11-30
48071  266917000816175     12/21/2006  03/21/2027         177.0  2024-12-31

      MONTH DELQ_AGE_ACTUAL  WORST_DELINQUENCY  DEL1_COUNT  01/31/2015  ...  \
0       M97             0.0                3.0         3.0    0.823790  ...
1       M98             4.0                3.0         3.0    0.823790  ...
2       M99             0.0                3.0         3.0    0.823790  ...
3      M100             0.0                3.0         3.0    0.823790  ...
4      M101             7.0                3.0         3.0    0.823790  ...
...     ...             ...                ...         ...         ...  ...
48067  M116             0.0                5.0         5.0    0.877609  ...
48068  M117             0.0                5.0         5.0    0.877609  ...
48069  M118             0.0                5.0         5.0    0.877609  ...
48070  M119             0.0                5.0         5.0    0.877609  ...
48071  M120             0.0                5.0         5.0    0.877609  ...

       03/31/2024  04/30/2024  05/31/2024  06/30/2024  07/31/2024  08/31/2024  \
0        1.003599    1.003599    1.001331    1.003599    1.003599         NaN
1        1.003599    1.003599    1.001331    1.003599    1.003599         NaN
2        1.003599    1.003599    1.001331    1.003599    1.003599         NaN
3        1.003599    1.003599    1.001331    1.003599    1.003599         NaN
4        1.003599    1.003599    1.001331    1.003599    1.003599         NaN
...           ...         ...         ...         ...         ...         ...
48067    1.007953    1.007953    1.007953    1.007953    1.007953    1.007953
48068    1.007953    1.007953    1.007953    1.007953    1.007953    1.007953
48069    1.007953    1.007953    1.007953    1.007953    1.007953    1.007953
48070    1.007953    1.007953    1.007953    1.007953    1.007953    1.007953
48071    1.007953    1.007953    1.007953    1.007953    1.007953    1.007953

       09/30/2024  10/31/2024  11/30/2024  12/31/2024
0        1.026364    0.980659    0.000000    1.267592
1        1.026364    0.980659    0.000000    1.267592
2        1.026364    0.980659    0.000000    1.267592
3        1.026364    0.980659    0.000000    1.267592
4        1.026364    0.980659    0.000000    1.267592
...           ...         ...         ...         ...
48067    1.007953    1.007953    1.007953    1.007953
48068    1.007953    1.007953    1.007953    1.007953
48069    1.007953    1.007953    1.007953    1.007953
48070    1.007953    1.007953    1.007953    1.007953
48071    1.007953    1.007953    1.007953    1.007953

[48072 rows x 129 columns]

In [34]:
# Convert DATE column to datetime (optional, only needed if date format varies)
df_amort['DATE_COLUMN'] = pd.to_datetime(df_amort['DATE_COLUMN'])

# Apply function to find the value in the matching date column
df_amort['ACTUAL_AMORT_RATIO'] = df_amort.apply(lambda row: row[row['DATE_COLUMN'].strftime('%m/%d/%Y')], axis=1)

# Drop all date columns dynamically (columns that match date format)
date_cols = df_amort.columns[9:-1]  # All columns after 'DATE' and before 'ACTUAL_AMORT_RATIO'
df_amort.drop(columns=date_cols, inplace=True)

print(df_amort)

          ILS_ACCT_NUM ORIG_BOOK_DATE    MATURITY  PRODUCT_TYPE DATE_COLUMN  \
0      261050000354425     05/25/2010  10/25/2025         174.0  2023-01-31
1      261050000354425     05/25/2010  10/25/2025         174.0  2023-02-28
2      261050000354425     05/25/2010  10/25/2025         174.0  2023-03-31
3      261050000354425     05/25/2010  10/25/2025         174.0  2023-04-30
4      261050000354425     05/25/2010  10/25/2025         174.0  2023-05-31
...                ...            ...         ...           ...         ...
48067  266917000816175     12/21/2006  03/21/2027         177.0  2024-08-31
48068  266917000816175     12/21/2006  03/21/2027         177.0  2024-09-30
48069  266917000816175     12/21/2006  03/21/2027         177.0  2024-10-31
48070  266917000816175     12/21/2006  03/21/2027         177.0  2024-11-30
48071  266917000816175     12/21/2006  03/21/2027         177.0  2024-12-31

      MONTH DELQ_AGE_ACTUAL  WORST_DELINQUENCY  DEL1_COUNT  ACTUAL_AMORT_RATIO
0       M97             0.0                3.0         3.0            2.007688
1       M98             4.0                3.0         3.0                 NaN
2       M99             0.0                3.0         3.0            2.006254
3      M100             0.0                3.0         3.0            0.994286
4      M101             7.0                3.0         3.0            0.001883
...     ...             ...                ...         ...                 ...
48067  M116             0.0                5.0         5.0            1.007953
48068  M117             0.0                5.0         5.0            1.007953
48069  M118             0.0                5.0         5.0            1.007953
48070  M119             0.0                5.0         5.0            1.007953
48071  M120             0.0                5.0         5.0            1.007953

[48072 rows x 10 columns]

In [35]:
loan_ratio_cols = [col for col in df_bscore.columns if "REMAINING_LOAN_RATIO" in col]

df_loan = df_bscore[['ILS_ACCT_NUM'] + loan_ratio_cols]

# Print the new DataFrame
print(df_loan)

           ILS_ACCT_NUM  REMAINING_LOAN_RATIO 01 2015  \
0       200001000325039                      0.107129
1       200001000402343                      0.233282
2       200001000432852                      0.101363
3       200001000644032                      0.086285
4       200001002025411                      0.149255
...                 ...                           ...
169288  266978000823780                      0.057641
169289  266981000861579                      0.667743
169290  266988000902026                      0.025333
169291  266988000950509                      0.544732
169292  266998000881994                      0.257170

        REMAINING_LOAN_RATIO 02 2015  REMAINING_LOAN_RATIO 03 2015  \
0                           0.085703                      0.064277
1                           0.212074                      0.190867
2                           0.076022                      0.050681
3                           0.064714                      0.043142
4                                NaN                           NaN
...                              ...                           ...
169288                      0.054911                      0.052136
169289                      0.667743                      0.667743
169290                      0.012719                           NaN
169291                      0.544732                      0.531460
169292                      0.246159                      0.234955

        REMAINING_LOAN_RATIO 04 2015  REMAINING_LOAN_RATIO 05 2015  \
0                           0.042852                      0.021426
1                           0.169660                      0.148452
2                           0.025341                           NaN
3                           0.021571                           NaN
4                                NaN                           NaN
...                              ...                           ...
169288                      0.049375                      0.049375
169289                      0.652503                      0.647327
169290                           NaN                           NaN
169291                      0.524913                      0.518235
169292                      0.223821                      0.212586

        REMAINING_LOAN_RATIO 06 2015  REMAINING_LOAN_RATIO 07 2015  \
0                                NaN                           NaN
1                           0.127245                      0.106037
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN
...                              ...                           ...
169288                      0.043799                      0.040984
169289                      0.642306                      0.637034
169290                           NaN                           NaN
169291                      0.511615                      0.504867
169292                      0.201328                      0.189972

        REMAINING_LOAN_RATIO 08 2015  REMAINING_LOAN_RATIO 09 2015  ...  \
0                                NaN                           NaN  ...
1                           0.084830                      0.063622  ...
2                                NaN                           NaN  ...
3                                NaN                           NaN  ...
4                                NaN                           NaN  ...
...                              ...                           ...  ...
169288                           NaN                           NaN  ...
169289                           NaN                           NaN  ...
169290                           NaN                           NaN  ...
169291                      0.498172                      0.491441  ...
169292                      0.178590                      0.167145  ...

        REMAINING_LOAN_RATIO 03 2024  REMAINING_LOAN_RATIO 04 2024  \
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN
...                              ...                           ...
169288                           NaN                           NaN
169289                           NaN                           NaN
169290                           NaN                           NaN
169291                           NaN                           NaN
169292                           NaN                           NaN

        REMAINING_LOAN_RATIO 05 2024  REMAINING_LOAN_RATIO 06 2024  \
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN
...                              ...                           ...
169288                           NaN                           NaN
169289                           NaN                           NaN
169290                           NaN                           NaN
169291                           NaN                           NaN
169292                           NaN                           NaN

        REMAINING_LOAN_RATIO 07 2024  REMAINING_LOAN_RATIO 08 2024  \
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN
...                              ...                           ...
169288                           NaN                           NaN
169289                           NaN                           NaN
169290                           NaN                           NaN
169291                           NaN                           NaN
169292                           NaN                           NaN

        REMAINING_LOAN_RATIO 09 2024  REMAINING_LOAN_RATIO 10 2024  \
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN
...                              ...                           ...
169288                           NaN                           NaN
169289                           NaN                           NaN
169290                           NaN                           NaN
169291                           NaN                           NaN
169292                           NaN                           NaN

        REMAINING_LOAN_RATIO 11 2024  REMAINING_LOAN_RATIO 12 2024
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN
...                              ...                           ...
169288                           NaN                           NaN
169289                           NaN                           NaN
169290                           NaN                           NaN
169291                           NaN                           NaN
169292                           NaN                           NaN

[169293 rows x 121 columns]

In [36]:
df_loan_cols = df_loan.columns

# Function to convert "ACTUAL_AMORT_RATIO MONTH YEAR" to "MM/DD/YYYY"
def rename_rem_loan_ratio(col_name):
    if "REMAINING_LOAN_RATIO" in col_name:
        parts = col_name.split()  # Split by space
        if len(parts) == 3:  # Ensure it's in the expected format
            month, year = parts[-2], parts[-1]  # Extract month and year
            try:
                month = int(month)  # Convert month to integer
                year = int(year)    # Convert year to integer
                last_day = calendar.monthrange(year, month)[1]  # Get last day of month
                return f"{month:02d}/{last_day}/{year}"  # Format as MM/DD/YYYY
            except ValueError:
                return col_name  # Keep unchanged if conversion fails
    return col_name  # Keep other columns unchanged

# Apply renaming function to all column names
df_loan.columns = [rename_rem_loan_ratio(col) for col in df_loan.columns]

df_loan = df_loan[df_loan['ILS_ACCT_NUM'].isin(df_amort['ILS_ACCT_NUM'])]

# Merge df_amort with df_offset to include ORIG_BOOK_DATE
df_loan = df_amort.merge(df_loan, how='left', on='ILS_ACCT_NUM')

# Print the updated DataFrame
print(df_loan)

          ILS_ACCT_NUM ORIG_BOOK_DATE    MATURITY  PRODUCT_TYPE DATE_COLUMN  \
0      261050000354425     05/25/2010  10/25/2025         174.0  2023-01-31
1      261050000354425     05/25/2010  10/25/2025         174.0  2023-02-28
2      261050000354425     05/25/2010  10/25/2025         174.0  2023-03-31
3      261050000354425     05/25/2010  10/25/2025         174.0  2023-04-30
4      261050000354425     05/25/2010  10/25/2025         174.0  2023-05-31
...                ...            ...         ...           ...         ...
48067  266917000816175     12/21/2006  03/21/2027         177.0  2024-08-31
48068  266917000816175     12/21/2006  03/21/2027         177.0  2024-09-30
48069  266917000816175     12/21/2006  03/21/2027         177.0  2024-10-31
48070  266917000816175     12/21/2006  03/21/2027         177.0  2024-11-30
48071  266917000816175     12/21/2006  03/21/2027         177.0  2024-12-31

      MONTH DELQ_AGE_ACTUAL  WORST_DELINQUENCY  DEL1_COUNT  \
0       M97             0.0                3.0         3.0
1       M98             4.0                3.0         3.0
2       M99             0.0                3.0         3.0
3      M100             0.0                3.0         3.0
4      M101             7.0                3.0         3.0
...     ...             ...                ...         ...
48067  M116             0.0                5.0         5.0
48068  M117             0.0                5.0         5.0
48069  M118             0.0                5.0         5.0
48070  M119             0.0                5.0         5.0
48071  M120             0.0                5.0         5.0

       ACTUAL_AMORT_RATIO  ...  03/31/2024  04/30/2024  05/31/2024  \
0                2.007688  ...    0.168694    0.160443    0.152085
1                     NaN  ...    0.168694    0.160443    0.152085
2                2.006254  ...    0.168694    0.160443    0.152085
3                0.994286  ...    0.168694    0.160443    0.152085
4                0.001883  ...    0.168694    0.160443    0.152085
...                   ...  ...         ...         ...         ...
48067            1.007953  ...    0.268389    0.261935    0.255363
48068            1.007953  ...    0.268389    0.261935    0.255363
48069            1.007953  ...    0.268389    0.261935    0.255363
48070            1.007953  ...    0.268389    0.261935    0.255363
48071            1.007953  ...    0.268389    0.261935    0.255363

       06/30/2024  07/31/2024  08/31/2024  09/30/2024  10/31/2024  11/30/2024  \
0        0.143703    0.135219    0.135219    0.126704    0.118123    0.118123
1        0.143703    0.135219    0.135219    0.126704    0.118123    0.118123
2        0.143703    0.135219    0.135219    0.126704    0.118123    0.118123
3        0.143703    0.135219    0.135219    0.126704    0.118123    0.118123
4        0.143703    0.135219    0.135219    0.126704    0.118123    0.118123
...           ...         ...         ...         ...         ...         ...
48067    0.248807    0.242135    0.235475    0.228762    0.221938    0.215119
48068    0.248807    0.242135    0.235475    0.228762    0.221938    0.215119
48069    0.248807    0.242135    0.235475    0.228762    0.221938    0.215119
48070    0.248807    0.242135    0.235475    0.228762    0.221938    0.215119
48071    0.248807    0.242135    0.235475    0.228762    0.221938    0.215119

       12/31/2024
0        0.107785
1        0.107785
2        0.107785
3        0.107785
4        0.107785
...           ...
48067    0.208192
48068    0.208192
48069    0.208192
48070    0.208192
48071    0.208192

[48072 rows x 130 columns]

In [37]:
# Convert DATE column to datetime (optional, only needed if date format varies)
df_loan['DATE_COLUMN'] = pd.to_datetime(df_loan['DATE_COLUMN'])

# Apply function to find the value in the matching date column
df_loan['REMAINING_LOAN_RATIO'] = df_loan.apply(lambda row: row[row['DATE_COLUMN'].strftime('%m/%d/%Y')], axis=1)

# Drop all date columns dynamically (columns that match date format)
date_cols = df_loan.columns[10:-1]  # All columns after 'DATE' and before 'ACTUAL_AMORT_RATIO'
df_loan.drop(columns=date_cols, inplace=True)

print(df_loan)

          ILS_ACCT_NUM ORIG_BOOK_DATE    MATURITY  PRODUCT_TYPE DATE_COLUMN  \
0      261050000354425     05/25/2010  10/25/2025         174.0  2023-01-31
1      261050000354425     05/25/2010  10/25/2025         174.0  2023-02-28
2      261050000354425     05/25/2010  10/25/2025         174.0  2023-03-31
3      261050000354425     05/25/2010  10/25/2025         174.0  2023-04-30
4      261050000354425     05/25/2010  10/25/2025         174.0  2023-05-31
...                ...            ...         ...           ...         ...
48067  266917000816175     12/21/2006  03/21/2027         177.0  2024-08-31
48068  266917000816175     12/21/2006  03/21/2027         177.0  2024-09-30
48069  266917000816175     12/21/2006  03/21/2027         177.0  2024-10-31
48070  266917000816175     12/21/2006  03/21/2027         177.0  2024-11-30
48071  266917000816175     12/21/2006  03/21/2027         177.0  2024-12-31

      MONTH DELQ_AGE_ACTUAL  WORST_DELINQUENCY  DEL1_COUNT  \
0       M97             0.0                3.0         3.0
1       M98             4.0                3.0         3.0
2       M99             0.0                3.0         3.0
3      M100             0.0                3.0         3.0
4      M101             7.0                3.0         3.0
...     ...             ...                ...         ...
48067  M116             0.0                5.0         5.0
48068  M117             0.0                5.0         5.0
48069  M118             0.0                5.0         5.0
48070  M119             0.0                5.0         5.0
48071  M120             0.0                5.0         5.0

       ACTUAL_AMORT_RATIO  REMAINING_LOAN_RATIO
0                2.007688              0.278419
1                     NaN              0.278419
2                2.006254              0.263219
3                0.994286              0.255631
4                0.001883              0.255631
...                   ...                   ...
48067            1.007953              0.235475
48068            1.007953              0.228762
48069            1.007953              0.221938
48070            1.007953              0.215119
48071            1.007953              0.208192

[48072 rows x 11 columns]

In [39]:
df_loan['ACTUAL_AMORT_RATIO'] = df_loan['ACTUAL_AMORT_RATIO'].fillna(0)

In [40]:
df_loan.isnull().sum()

ILS_ACCT_NUM            0
ORIG_BOOK_DATE          0
MATURITY                0
PRODUCT_TYPE            0
DATE_COLUMN             0
MONTH                   0
DELQ_AGE_ACTUAL         0
WORST_DELINQUENCY       0
DEL1_COUNT              0
ACTUAL_AMORT_RATIO      0
REMAINING_LOAN_RATIO    0
dtype: int64

In [41]:
# Identify groups where any row has NA
mask = df_loan.groupby('ILS_ACCT_NUM').transform(lambda x: x.isna().any())

# Drop all rows where any value in the group is NA
df_cleaned = df_loan[~mask.any(axis=1)]

print(df_cleaned)

          ILS_ACCT_NUM ORIG_BOOK_DATE    MATURITY  PRODUCT_TYPE DATE_COLUMN  \
0      261050000354425     05/25/2010  10/25/2025         174.0  2023-01-31
1      261050000354425     05/25/2010  10/25/2025         174.0  2023-02-28
2      261050000354425     05/25/2010  10/25/2025         174.0  2023-03-31
3      261050000354425     05/25/2010  10/25/2025         174.0  2023-04-30
4      261050000354425     05/25/2010  10/25/2025         174.0  2023-05-31
...                ...            ...         ...           ...         ...
48067  266917000816175     12/21/2006  03/21/2027         177.0  2024-08-31
48068  266917000816175     12/21/2006  03/21/2027         177.0  2024-09-30
48069  266917000816175     12/21/2006  03/21/2027         177.0  2024-10-31
48070  266917000816175     12/21/2006  03/21/2027         177.0  2024-11-30
48071  266917000816175     12/21/2006  03/21/2027         177.0  2024-12-31

      MONTH DELQ_AGE_ACTUAL  WORST_DELINQUENCY  DEL1_COUNT  \
0       M97             0.0                3.0         3.0
1       M98             4.0                3.0         3.0
2       M99             0.0                3.0         3.0
3      M100             0.0                3.0         3.0
4      M101             7.0                3.0         3.0
...     ...             ...                ...         ...
48067  M116             0.0                5.0         5.0
48068  M117             0.0                5.0         5.0
48069  M118             0.0                5.0         5.0
48070  M119             0.0                5.0         5.0
48071  M120             0.0                5.0         5.0

       ACTUAL_AMORT_RATIO  REMAINING_LOAN_RATIO
0                2.007688              0.278419
1                0.000000              0.278419
2                2.006254              0.263219
3                0.994286              0.255631
4                0.001883              0.255631
...                   ...                   ...
48067            1.007953              0.235475
48068            1.007953              0.228762
48069            1.007953              0.221938
48070            1.007953              0.215119
48071            1.007953              0.208192

[48072 rows x 11 columns]

In [29]:
df_cleaned[df_cleaned["REMAINING_LOAN_RATIO"].isna()]

Empty DataFrame
Columns: [ILS_ACCT_NUM, ORIG_BOOK_DATE, MATURITY, PRODUCT_TYPE, DATE_COLUMN, MONTH, DELQ_AGE_ACTUAL, WORST_DELINQUENCY, DEL1_COUNT, ACTUAL_AMORT_RATIO, REMAINING_LOAN_RATIO]
Index: []

In [42]:
# Save DataFrame to CSV (no encryption, no index column)
df_cleaned.to_csv("CAR M97 TO M120.csv", index=False)